<div class="row mt-3"></div>
<div class='d-flex justify-content-center'>
    <form id="simple_form">
        <div class="form-group row">
            <label for="airport" class="col-sm-5 col-form-label">Airport</label>
            <div class="col-sm-7">
                <input id="airport" name="airport" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label for="flight_num" class="col-sm-5 col-form-label">Flight Number</label>
            <div class="col-sm-7">
                <input id="flight_num" name="flight_num" type="text">
            </div>
        </div>
        <div class='d-flex justify-content-center'>
            <button type="button" id='form-update'>Click Me</button>
        </div>
    </form>
</div>