{% extends 'index.html' %}

{% block custom_styles %}
<link rel="stylesheet" href="/css/style.css"></script>
{% endblock custom_styles %}

{% block body %}
    {% include 'components/navbar.html' %}   

    <header>
        <h1 class="site-heading text-center text-faded d-none d-lg-block">
            <span class="site-heading-upper text-white mb-3">Will You Arrive On Time?</span>
            <span class="site-heading-lower">About Us</span>
        </h1>
    </header>

    <div class = "row justify-content-center">
      <div class = "col-md-11 justify-content-center">
         <h1>Group Process</h1>
          <table class="styled-table">
            <thead>
                <tr>
                    <th>Project Component</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data Sources</td>
                    <td><p>Our primary source of data was On-Time performance data
                      on flights departing from US cities as published by the Bureau of
                      Transportation Statistics. This data was supplemented with BTS information
                      on the column headings. 
                    </p></td>
                </tr>
                <tr>
                  <td>Data Cleaning</td>
                  <td>The data was processed in Python. The number of categories was reduced
                    to those columns that would be predictive of on time arrival such as departure
                    city, arrival city, airline, and datetime. Month, day of the week, and time of day columns
                    were created as well as a target response column for late or on time arrival. 
                    In addition, location data on on the airports including city, latitude, and longitude 
                    was merged with the dataframe for later map creation. 
                  </td>
                </tr>
                <tr>
                  <td>Data Base</td>
                  <td>Our first attempt at creating a database was with loading the table directly into SQL. Due to the large
                    file sizes that were involved (16 million rows), however, this was not functional. Instead, the data was loaded into 
                    AWS-RDS and a host connection was created with PostgresSQL. This database was queried using SQL Alchemy. 
                    Limitations in processing capabilities often required us to use subsamples of the table for analysis.
                  </td>
                </tr>
                <tr>
                  <td>Visualizations</td>
                  <td>Several data visualizations were created using Plotly in Javascript using a 10% sample of 2019 data.
                    These included bar graphs of delays by carrier, cause, time of day, and worst routes. A line graph was
                    also created for delay by day of the week. 
                    Two geojsons were created from a 200k row sample from the final data frame: one for departure airports and one for arrival airports.
                    These were use to create two bubble maps using Leaflet that depict the average flight delay by airport.
                  </td>
                </tr>
                <tr>
                  <td>Machine Learning</td>
                  <td>To predict the probability of late arrival we built a neural network in Keras. Prior to training, categorical 
                    features were dummified in pandas and the target was label endcoded in Keras. We used a sequential network 
                    with dense layers. The input had 790 dimensions, the hidden layer had 40 units (activation = 'relu') and 
                    the output layer had two units (activation = 'softmax'). We used the Adam optimizer with a learning rate 
                    of 0.001, with 'binary_crossentropy' as the loss function, and 'AUC' as our test score. 
                    The model was trained over 10 epochs with the default batch size of 32. For comparison, h2o AutoML was also tested on a
                    sample of the data set. The best results achieved when training with AutoML was with the Stacked Ensemble (AUC = 0.63).
                    This underperformed the neural network described previously.</td>
                </tr>
                <tr>
                  <td>Flask App and Hosting</td>
                  <td>The backend is served with Flask and hosted on Heroku.</td>
                </tr>
          </tbody>
      </table>
      <p></p>
      </div>
    </div>
  
  <!--HEADSHOTS-->
  <div class = "row justify-content-center">
    <div class = "col-md-11 justify-content-center"> 
      <!--ALEX-->
      <section class="page-section about-page justify-content-center">
        <div class="container justify-content-center">
          <div class="headshots justify-content-center">
              <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/Alex.jpg" width = "100" height = "100" alt="Alex Gainer" />
              <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="about-page-header mb-4">
                    <span class="about-page-upper">Links</span>
                    <span class="about-page-lower">Alex Gainer</span>
                  </h2>
                  <a href="https://github.com/againzer" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                  <p></p>
                  <a href="https://www.linkedin.com/in/alex-dang-gainer/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
              </div>
            </div>
          </div>
      </section>
      <!--ANDREW-->
      <section class="page-section about-page justify-content-center">
        <div class="container justify-content-center">
          <div class="headshots justify-content-center">
                <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/Andrew.jpg" width = "100" height = "100" alt="Andrew Anastasiades" />
                <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="about-page-header mb-4">
                        <span class="about-page-upper">Links</span>
                        <span class="about-page-lower">Andrew Anastasiades</span>
                    </h2>
                    <a href="https://github.com/andrew-ana" target="_blank"><img class ="github-page img-fluid mr-1 mb-lg-0 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                    <p></p>
                    <a href="https://www.linkedin.com/in/andrew-ana/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
                </div>
            </div>
        </div>
      </section>

      <section class="page-section about-page justify-content-center">
        <div class="container justify-content-center">
          <div class="headshots justify-content-center">
                <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/Diana.jpg" width = "100" height = "100" alt="Diana Kennen" />
                <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="about-page-header mb-4">
                        <span class="about-page-upper">Links</span>
                        <span class="about-page-lower">Diana Kennen</span>
                    </h2>
                    <a href="https://github.com/dlkennen/" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                    <p></p>
                    <a href="https://www.linkedin.com/in/diana-kennen-rchs-magnet-a3499923/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
                </div>
          </div>
        </div>
      </section>
  
    <section class="page-section about-page justify-content-center">
      <div class="container justify-content-center">
        <div class="headshots justify-content-center">
              <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/corey.jpg" width = "100" height = "100" alt="Corey Devin Anderson" />
              <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="about-page-header mb-4">
                      <span class="about-page-upper">Links</span>
                      <span class="about-page-lower">Corey Anderson</span>
                  </h2>
                  <a href="https://github.com/coreydevinanderson" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                  <p></p>
                  <a href="https://www.linkedin.com/in/corey-devin-anderson-ph-d-b868527/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
              </div>
        </div>
      </div>
    </section>
    </div>
    </div>

    <div class = "row">
      <div class = "col-md-12">
        <p></p>
      </div>
    </div>

    <div class = "row justify-content-center">
    <div class = "col-md-11 justify-content-center">
    <section class="page-section about-page justify-content-center">
      <div class="container justify-content-center">
        <div class="headshots justify-content-center">
              <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/eric.jpg" width = "100" height = "100" alt="Eric Shadle" />
              <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                  <h2 class="about-page-header mb-4">
                      <span class="about-page-upper">Links</span>
                      <span class="about-page-lower">Eric Shadle</span>
                  </h2>
                  <a href="https://github.com/ews16274" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                  <p></p>
                  <a href="https://www.linkedin.com/in/eric-shadle-9868231a3/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
              </div>
        </div>
      </div>
    </section>


      <section class="page-section about-page justify-content-center">
        <div class="container justify-content-center">
          
          <div class="headshots justify-content-center">
                <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/Rodney.jpg" width = "100" height = "100" alt="Rodney Davermann" />
                <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="about-page-header mb-4">
                        <span class="about-page-upper">Links</span>
                        <span class="about-page-lower">Rodney Davermann</span>
                    </h2>
                    <a href="https://github.com/davro76" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                    <p></p>
                    <a href="https://www.linkedin.com/in/rodney-davermann-41972970/" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
                </div>
          </div>
        </div>
      </section>

      <section class="page-section about-page justify-content-center">
        <div class="container justify-content-center">
          <div class="headshots justify-content-center">
                <img class="about-page-img img-fluid mb-3 mb-lg-0 rounded" src="/Images/Valerie.png" width = "100" height = "100" alt="Valerie Pippenger" />
                <div class="about-page-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="about-page-header mb-4">
                        <span class="about-page-upper">Links</span>
                        <span class="about-page-lower">Valerie Pippenger</span>
                    </h2>
                    <a href="https://github.com/Pip85" target="_blank"><img class ="github-page img-fluid mr-1 rounded"src="/Images/github.png" width = "40" height = "40"/></a>
                    <p></p>
                    <a href="https://www.linkedin.com/in/valerie-pippenger" target="_blank"><img class ="linkedin-page img-fluid ml-1 mb-lg-0 rounded"src="/Images/linkedin.png" width = "60" height = "40"/></a>
                </div>
          </div>
        </div>
      </section>
      </div>
      </div>
    </div>



{% endblock body %}
