<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!--HEAD GOES HERE-->
        {% include 'components/meta.html' %}
        {% include 'components/style.html' %}
    {% endblock head %}
    {% block custom_styles %}
    <!--Page Specific Styles-->
    {% endblock custom_styles %}
</head>

<body style="background-color: #B6D0E2;;">
    {% block body %}
    <!--PAGE CONTENT GOES HERE-->
    {% endblock body %}
    
    {% block scripts %}
        <!--SCRIPTS GO HERE-->
        {% include 'components/allscripts.html' %}
    {% endblock scripts %}

    {% block customscripts %}
    {% endblock customscripts %}
</body>
</html>